
body {
    background-color: lightgrey;
}

h1 {
    color: navy;
    margin-left: 10px;
  
}

h4 {
    color: navy;
    margin-left: 10px;
  
}

p {
    color: navy;
    margin-left: 10px;
 
}

button {
    color: navy;
    margin-left: 10px;
  
}
