
body {
    background-color: #292929;
}

h1 {
    color: white;
    margin-left: 10px;
  
}

h4 {
    color: white;
    margin-left: 10px;
  
}

p {
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    border: 4px solid white;
    padding: 25px; 
    width: 200px;
    height: 260px; 
  
}

button {
    color: black;
    margin-left: 10px;
  
}
